<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/restaurant/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
    </script>
    <style>
		body{
			background-color: #f0ece7;
		}

		.button {
			display:inline-block;
			 padding: 0.3em 1.2em;
			 margin: 0 0.3em 0.3em 0;
			 border-radius: 2em;
			 box-sizing: border-box;
			 text-decoration: none;
			 font-family: 'Roboto',sans-serif;
			 font-weight: 300;
			 color:#FFFFFF;
			 background-color:#4eb5f1;
			 text-align:center;
			 transition: all 0.2s;
		}

		.card button:hover {
			opacity: 0.7;
		}
	</style>
</head>
<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<h1>RESTAURANT LOGIN</h1>
		</div>
		<div class="form-group">
			<form id="form" method="post" >
				<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="submit" value="Login" class="btn btn-success"><br><br>
				<p>New Restaurant Owner: <a class="button" href="/restaurant-register">Register</a></p>
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/viewOrder" id="aa"></a>
		</div>
		<div><span>Do you forgot password?</span><a href="/forgetpass">click here</a>
		</div>
	</div>
</body>
</html>