<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
        body{
			background-color: #f0ece7;
        }
        .button {
			display:inline-block;
			 padding: 0.3em 1.2em;
			 margin: 0 0.3em 0.3em 0;
			 border-radius: 2em;
			 box-sizing: border-box;
			 text-decoration: none;
			 font-family: 'Roboto',sans-serif;
			 font-weight: 300;
			 color:#FFFFFF;
			 background-color:#4eb5f1;
			 text-align:center;
			 transition: all 0.2s;
		}
    </style>
</head>
<body>
    <a class="button" href="/">HOME</a>
    <h1>Thank you for Placing Order. You will recieve your food on time.</h1>
</body>
</html>